@model telaCadastro.Models.UsuarioViewModel

@{
    ViewBag.Title = "Cadastre-se";
}
@{
    Layout = "_Layout";

}

@using (Html.BeginForm("CadastroUsuario", "Cadastro"))
{
    <div class="container">
        <div class="col-12">
            <h1 id="Titulo">Cadastre-se</h1>
        </div>
        <div class="row gx-md-5">
            <div class="col-12 col-md-6">
                <h5 id="registrar">@Html.LabelFor(x => x.NomeCompleto)</h5>
                @Html.TextBoxFor(x => x.NomeCompleto)

                <span asp-validation-for="@Model.NomeCompleto" class="text-danger"></span>
            </div>
            <div class="col-12 col-md-6">
                <h5>@Html.LabelFor(x => x.Email)</h5>
                @Html.TextBoxFor(x => x.Email)

                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="col-12 col-md-6">
                <h5>@Html.LabelFor(x => x.DataNascimento)</h5>
                @Html.TextBoxFor(x => x.DataNascimento)

                <span asp-validation-for="@Model.DataNascimento" class="text-danger"></span>
            </div>
            <div class="col-12 col-md-6">
                <h5>@Html.LabelFor(x => x.CPF)</h5>
                @Html.TextBoxFor(x => x.CPF)

                <span asp-validation-for="@Model.CPF" class="text-danger"></span>
            </div>
            <div class="col-12 col-md-6">
                <h5>@Html.LabelFor(x => x.RG)</h5>
                @Html.TextBoxFor(x => x.RG)

                <span asp-validation-for="@Model.RG" class="text-danger"></span>
            </div>
            <div class="col-12 col-md-6">
                <h5>@Html.LabelFor(x => x.NumeroCelular)</h5>
                @Html.TextBoxFor(x => x.NumeroCelular)


            </div>
            <div class="col-12 col-md-6">
                <h5>@Html.LabelFor(x => x.Genero)</h5>
                @Html.TextBoxFor(x => x.Genero)
            </div>

            <div class="col-12 col-md-6">
            </div>

            <div class="col-12 col-md-6">
                <input type="submit" class="btn btn-primary form-group" style="margin-top: 5%" value="Adicionar" />
            </div>

        </div>
    </div>
}


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}